# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite

.vite/
.cache/

# Log files
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# dotenv environment variables file
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
.Trash-*

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Production
build/
tmp/

# Client-specific
client/node_modules/

client/.vite/
client/.cache/

# Server-specific
server/node_modules/
server/dist/
server/.env
server/logs/
server/tmp/
